# python 相关
# 日志文件
gpulogs/

# 数据文件
datasets/
tmp_data/
TOSdataset/
savedlogs/
savedmodels/
# 环境文件
*.env
*.yaml
*.yml
*.egg-info

# 临时文件
*.ipynb

# 脚本文件
*.sh
*.txt
experiment.md
todo.md

# slurm文件
*.out
slurm/
single_slurm/

# 输出目录
direct_sample_result/
guided_result/
single_numerical_model/
single_numerical_test/